

<div class = 'contents'>

  <p id="notice"><%= notice %></p>

  <div class='add-new'>
    <%= link_to 'Add a dog to ParkPups', new_dog_path %>
  </div>

  <h1 id='dogs'>Your Dogs</h1>

  <% @dogs.each do |dog| %>
    <% if dog.authorize(@user) %>
      <%=link_to "#{dog.name.strip}", dog %>
      (<%=  link_to "Edit", edit_dog_path(dog) %>)
    <% end %>
    <br>
    <br>
  <% end %>
</div>
