<div class='contents'>

  <h1><%= @user.name %></h1>

  <h3>My dogs:</h3>
    <% @user.dogs.each do |dog| %>
      <%= link_to dog.name, dog %>
    <% end %>

  <h3>My parks:</h3>
    <% @user.parks.each do |park| %>
      <%= link_to park.name, park %>
    <% end %>

</div>
