<!-- View for landing page -->

<div class='contents' style ='justify-content:center; align-items:center; padding-bottom:62px;'>

  <div class='landing-background'>

    <h1> Welcome to ParkPups </h1>

    <div class='landing-list'>Discover dog parks near you</div>
    <div class='landing-list'>Find your dog's friends</div>
    <div class='landing-list'>Never miss a dog date again</div>

    <% if current_user %>
      <%= link_to '/dogs/new' do %>
        <div class='card' style='margin: auto; margin-top: 60px; width: fit-content; height: fit-content;
          font-size: 20px; text-align: center; padding: 20px;'>
          Add your dog
        </div>
      <% end %>

    <% else %>

      <%= link_to '/signup' do %>
        <div class='card' style='margin: auto; margin-top: 60px; width: fit-content; height: fit-content;
          font-size: 20px; text-align: center; padding: 20px;'>
          Get Started
        </div>
      <% end %>

    <%end %>

  </div>

</div>
