<!-- View for landing page -->

<div class='contents' style ='justify-content:center; align-items:center; padding-bottom:62px;'>

  <div class='landing-background'>

    <h1> Welcome to Parkr </h1>

    <div class='landing-list'>Sign up and enter your dog's details into Parkr</div>
    <div class='landing-list'>Select your favourite parks</div>
    <div class='landing-list'>Automatically see your dog's friends who go to the same park</div>
    <div class='landing-list'>Never miss a dog date again</div>

  </div>

</div>
