<!-- View for landing page -->

<div class='contents' style ='justify-content:center; align-items:center; padding-bottom:62px; '>

  <div class='landing-background'>

    <h1> Welcome to ParkPups </h1>

    <div class='landing-list'>Discover dog parks near you</div>
    <div class='landing-list'>Find your dog's friends</div>
    <div class='landing-list'>Never miss a dog date again</div>

    <% if current_user %>
      <%= link_to '/dogs/new' do %>
        <div class='card' style='margin: auto; margin-top: 60px; width: fit-content; height: fit-content;
          font-size: 20px; text-align: center; padding: 20px;'>
          Add your dog
        </div>
      <% end %>

    <% else %>

      <%= link_to '/signup' do %>
        <div class='card' style='margin: auto; margin-top: 60px; width: fit-content; height: fit-content;
          font-size: 20px; text-align: center; padding: 20px;'>
          Get Started
        </div>
      <% end %>

    <%end %>

  </div>

  <footer style = "margin-top:200px">
    <div style = "display: flex">
      <div style='width: 35px; margin-right: 0px; color: #B7B8B6; '>
        <%= image_tag 'mail.svg' %>
      </div>
      <span style = "padding: 5px; color: #383937; font-family: serif">
        parkpupsapp@gmail.com
      </span>
    <div>
  </footer>

</div>
