/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
COLOURS


#EDE681

#B7B8B6

#CDCDC0

#4CB5F5

#B7B8B6

#013429

#B3C100

 */

 body {
   background-color: #EAEBE9;
   display: flex;
   flex-direction: row;
   width: 100vw;
   /*position:fixed;*/
   margin: 0;
   top:0;
   bottom:0;
   left:0;
   right:0;
   font-size:18px;
 }

 h1 {
   color: #001B10;
   line-height: initial;
   margin-top: 0px;
   margin-left: 0px;
 }

<<<<<<< Updated upstream
 h3 {
   margin: 20px;
   margin-left: 0px;
 }

 a {
   color: inherit;
   text-decoration: none;
 }

 .field {
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
 }

 .check {
   display: flex;
   flex-direction: row;
 }

 .row {
   flex-direction: row;
 }

 label {
   display: block;
   margin: 4px;
   margin-left: 13px;
 }

.required-star {
  vertical-align: sub;
  padding-left: 0;
}

.form input {
  margin-left: 13px;
  width: 150px;
}

.form textarea {
  margin-left: 13px;
  width: 150px;
}

.row input {
  margin-left: 0px;
}

input[type=submit] {
  width: 100px;
}

.check {
  display: flex;
  flex-direction: row;
}

input[type='checkbox'] {
  margin: 0px;
  width: 20px;
  height: 30px;
  padding: 0px;
}

 #notice {
   color: green;
 }

 .field_with_errors {
   padding: 2px;
   background-color: red;
   display: table;
 }

 #error_explanation {
   width: 450px;
   border: 2px solid red;
   padding: 7px 7px 0;
   margin-bottom: 20px;
   background-color: #f0f0f0;
}

 .contents {
   display: flex;
   flex-direction: column;
   background-color: inherit;
   color: inherit;
   width: 100vw;
   padding-top: 62px;
   position: relative;
   /*align-items: center;
   justify-content: center;*/
   margin-top: 40px;
   margin-right: 60px;
   margin-left: 60px;
   overflow: auto;
 }

.form {
  padding: 40px;
  margin: 25px;
  border-radius: 10px;
  background-color: #D1D2D0;
  color: #383937;
  box-shadow: 1px 4px 5px #2E4600;
  width: fit-content;
}

 .card {
   padding: 20px;
   padding-top: 40px;
   margin: 25px;
   margin-left: 0px;
   margin-top: 0px;
   border-radius: 10px;
   background-color: #D1D2D0;
   color: #383937;
   width: 300px;
   height: 120px;
   box-shadow: 1px 4px 5px #2E4600;
 }

 .display-cards {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-bottom: 20px;
   height: fit-content;
 }



 #topbar {
   width: calc(100vw - 60px);
   height: 30px;
   background: #2E4600 ;
   color: #EAEBE9;
   position: absolute;
   z-index: 10;
   padding-right: 60px;
   padding-left: 40px;
   padding-top: 20px;
   padding-bottom: 10px;
   /*text-align: right;*/
   box-shadow: 0px 3px 5px #383937;
 }

 #topbar a {
   padding: 10px;
   border-radius: 5px;
 }

 #topbar  a:hover {
   background-color: #213900;
 }


#map {
  margin-top: 20px;
  margin-bottom: 40px;
}

 /* sidebar stuff*/

 #sidebar {
   background-color:  #001B10;
   color: #EAEBE9;
   display: flex;
   flex-direction: column;
   width: 150px;
   height: 100vh;
   /*text-decoration: bold;*/
   position: relative;
   border: 1px, #001B10;
 }

#sidebarHeader {
  padding-bottom: 20px;
  padding-left: 0;
  width: 150px;
  height: 100px;
  /*z-index: -10;*/
  position: relative;
}

 #sidebarHeader:hover {
   /*background-color: black;*/
 }

.sidebarTab {
  height: 50px;
  width: 200px;
  background-color: #001B10;
  color: #EAEBE9;
  /*border: none;*/
  padding-left: 20px;
  /*text-decoration: bold;*/
  vertical-align: center;
  padding-top: 20px;
   border: 3px, #001B10;
}


.sidebarTab:hover {
  background-color:  #013429;
  color: #EAEBE9;
}

.activeTab {
  background-color: #B3C100;
  color: black;
}
