html {
  font-family: sans-serif;
}

body {
  background-color: black;
}

.landing-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url('familyphoto.jpg');
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-size: 48px;
  margin: 40px;
}
