// Place all the styles related to the Parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-dog {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-top: 60px;
  padding: 20px;
  background-color: black;
  color: white;
}
